{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="p-5 text-center bg-primary text-white rounded">

        <h1>Student Management System</h1>

        <p class="lead">
            Welcome to the Student Management System built using Django.
        </p>

        <a href="{% url 'login' %}"  class="btn btn-light">
            Get Started
        </a>

    </div>

    <div class="row mt-5">

        <div class="col-md-4">

            <div class="card shadow">

                <div class="card-body text-center">

                    <h3>Students</h3>

                    <p>Manage student records.</p>

                </div>

            </div>

        </div>

        <div class="col-md-4">

            <div class="card shadow">

                <div class="card-body text-center">

                    <h3>Courses</h3>

                    <p>Manage course details.</p>

                </div>

            </div>

        </div>

        <div class="col-md-4">

            <div class="card shadow">

                <div class="card-body text-center">

                    <h3>Departments</h3>

                    <p>Manage departments.</p>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}