{% extends 'base.html' %}

{% block title %}
Students
{% endblock %}

{% block content %}

<div class="container mt-4">

    <div class="d-flex justify-content-between mb-3">

        <h2>Student List</h2>

        <a href="{% url 'add_student' %}" class="btn btn-primary">
            Add Student
        </a>

    </div>
<form method="GET" class="mb-4">

    <div class="input-group">

        <input
            type="text"
            name="search"
            class="form-control"
            placeholder="Search Student..."
            value="{{ request.GET.search }}">

        <button class="btn btn-primary">

            Search

        </button>

    </div>

</form>
    <table class="table table-bordered table-hover">

        <thead class="table-dark">

            <tr>

                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Department</th>
                <th>Course</th>
                <th>Photo</th>
                <th>Action</th>

            </tr>

        </thead>

        <tbody>

        {% for student in students %}

            <tr>

                <td>{{ student.id }}</td>

                <td>{{ student.name }}</td>

                <td>{{ student.age }}</td>

                <td>{{ student.gender }}</td>

                <td>{{ student.email }}</td>

                <td>{{ student.phone }}</td>

                <td>{{ student.department }}</td>

                <td>{{ student.course }}</td>

                <td>

                    {% if student.photo %}

                        <img src="{{ student.photo.url }}"
                             width="70"
                             height="70"
                             class="rounded-circle">

                    {% else %}

                        No Image

                    {% endif %}

                </td>

                <td>

                    <a href="#" class="btn btn-info btn-sm">
                        View
                    </a>

                    <a href="{% url 'update_student' student.id %}" class="btn btn-warning btn-sm">
                        Edit
                    </a>

                    <a href="{% url 'delete_student' student.id %}" class="btn btn-danger btn-sm">
                        Delete
                    </a>

                </td>

            </tr>

        {% empty %}

            <tr>

                <td colspan="10" class="text-center">

                    No Students Found

                </td>

            </tr>

        {% endfor %}

        </tbody>

    </table>
    <nav class="mt-4">

    <ul class="pagination justify-content-center">

        {% if page_obj.has_previous %}

        <li class="page-item">
            <a class="page-link"
               href="?page={{ page_obj.previous_page_number }}">
                Previous
            </a>
        </li>

        {% endif %}

        {% for page in page_obj.paginator.page_range %}

        <li class="page-item {% if page == page_obj.number %}active{% endif %}">

            <a class="page-link"
               href="?page={{ page }}">
                {{ page }}
            </a>

        </li>

        {% endfor %}

        {% if page_obj.has_next %}

        <li class="page-item">

            <a class="page-link"
               href="?page={{ page_obj.next_page_number }}">
                Next
            </a>

        </li>

        {% endif %}

    </ul>

</nav>

</div>


{% endblock %}